@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  span {
    @apply text-white font-semibold
  }

  input[type=radio] {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
  }
  
  ::-webkit-scrollbar {
    @apply w-1 h-1 rounded-md
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-blue-400 rounded-md
  }
}

.slick-dots {
  width: 100%;
  height: 30px;
  position: absolute;
  top:0;
}

.slick-dots li.slick-active button::before{
  color: white !important;
}