@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  span {
    @apply text-white font-semibold
  }

  input[type=radio] {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
  }
  
  ::-webkit-scrollbar {
    @apply w-1 h-1 rounded-md
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-blue-400 rounded-md
  }

  .tooltip {
    @apply relative block
  }
  /* padding 값 넣기*/
  .tooltip .tooltiptext {
    @apply z-50 invisible w-[300px] bg-black rounded-md absolute p-2
  }
  
  .tooltip:hover .tooltiptext {
    @apply visible delay-300
  }
  
  .tooltip .tooltiptext::after {
    content: " ";
    @apply absolute border-solid border-8
  }
  
  .tooltip .tooltip-bottom {
    @apply w-[300px] top-[115%] left-0 -ml-32
  }
  
  .tooltip .tooltip-bottom::after {
    @apply bottom-full left-1/2 -ml-1 border-b-black border-transparent
  }
}
